---
- name: Installer Nginx
  apt:
    name: nginx
    state: present
    update_cache: true

- name: Démarrer Nginx
  service:
    name: nginx
    state: started
    enabled: true

- name: Déployer page web
  copy:
    content: |
      <html>
      <head><title>TechSecure</title></head>
      <body>
      <h1>Serveur Web TechSecure</h1>
      <p>Déployé automatiquement avec Ansible.</p>
      </body>
      </html>
    dest: /var/www/html/index.html

- name: Ouvrir port HTTP
  ufw:
    rule: allow
    port: 80

- name: Ouvrir port HTTPS
  ufw:
    rule: allow
    port: 443