- name: "Installer "
  ansible.builtin.package:
    name: htop
    state: present

- name: "Installer fail2ban"
  ansible.builtin.package:
    name: fail2ban
    state: present

- name: "SSH Hardening : Désactiver mot de passe"
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication no'
  notify: "Restart SSH"

- name: "SSH Hardening : Connexion par clé publique"
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PubkeyAuthentication'
    line: 'PubkeyAuthentication yes'
  notify: "Restart SSH"

- name: "SSH Hardening : Interdiction du login en root"
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'
  notify: "Restart SSH"