- name: Installer le rôle DNS
  ansible.windows.win_feature:
    name: DNS
    state: present
    include_management_tools: yes

- name: Installer rôle DHCP
  ansible.windows.win_feature:
    name: DHCP
    state: present
    include_management_tools: yes

- name: Créer zone DNS si absente
  ansible.windows.win_shell: |
    if (-not (Get-DnsServerZone -Name "lab.local" -ErrorAction SilentlyContinue)) {
        Add-DnsServerPrimaryZone -Name "lab.local" -ZoneFile "lab.local.dns" -DynamicUpdate Secure
    }

- name: Ajouter enregistrement A si absent
  ansible.windows.win_shell: |
    if (-not (Get-DnsServerResourceRecord -ZoneName "lab.local" -Name "web01" -ErrorAction SilentlyContinue)) {
        Add-DnsServerResourceRecordA -Name "web01" -ZoneName "lab.local" -IPv4Address "10.10.0.30"
    }

- name: Créer étendue DHCP si absente
  ansible.windows.win_shell: |
    if (-not (Get-DhcpServerv4Scope -ScopeId 10.10.0.0 -ErrorAction SilentlyContinue)) {
        Add-DhcpServerv4Scope -Name "ScopeLab" `
        -StartRange 10.10.0.100 `
        -EndRange 10.10.0.200 `
        -SubnetMask 255.255.255.0
    }

- name: Configurer passerelle DHCP
  ansible.windows.win_shell: |
    Set-DhcpServerv4OptionValue -ScopeId 10.10.0.0 -Router 10.10.0.1

- name: Créer utilisateur AdminTechSecure
  ansible.windows.win_user:
    name: AdminTechSecure
    password: "P@ssw0rd123!"
    groups: Administrators
    state: present