---
- name: Installer DNS et DHCP
  ansible.windows.win_feature:
    name:
      - DNS
      - DHCP
    state: present
    include_management_tools: yes

- name: Désactiver SMBv1
  ansible.windows.win_feature:
    name: FS-SMB1
    state: absent

- name: Appliquer stratégie mot de passe
  ansible.windows.win_shell: |
    net accounts /minpwlen:12
    net accounts /maxpwage:30